### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/

./idea/*
.vscode/launch.json
.idea/vcs.xml
.idea/engine-socket.iml
.idea/modules.xml
.idea/sbt.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/workspace.xml
